
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600");
.outimage {
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: solid 1px gray;
  text-align: center; }

.vidagreebox {
  margin: 10px;
  border: gray solid 1px; }

.friendreqbox {
  margin: 10px;
  border: gray solid 1px; }

.chat-bubble {
  margin-top: 0.5em;
  clear: both; }

.chat-other {
  margin-left: 3%;
  max-width: 60%;
  margin-top: 0em;
  float: left; }

.chat-other-id {
  font-size: 8px;
  margin-left: 3%;
  color: gray;
  float: left;
  margin-top: 1em; }

.chat-user {
  margin-right: 3%;
  max-width: 60%;
  text-align: left;
  float: right; }

.chat-text {
  background-color: #E9ECEF;
  overflow: auto;
  padding: 0.5em;
  border-radius: 6px 6px 6px 0;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  color: #3F3E3E; }
  .chat-user .chat-text {
    background-color: #f9e141;
    border-radius: 6px 6px 0 6px; }

.chat-texting {
  background-color: #E9ECEF;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 6px 6px 6px 0;
  margin-bottom: 0px;
  margin-top: 0.5em; }

.chat-time {
  margin-top: 0px;
  font-size: 0.5em;
  color: #919699; }

.typing-indicator span {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  float: left;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4; }
  .typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s; }
  .typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s; }
  .typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s; }

@keyframes blink {
  50% {
    opacity: 1; } }
    
    
    
    #btgrid {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}
#toptitle {
  text-align: center;
  border-bottom: 1px gray solid;
  background-color: black;
  color: white;
  margin: 0px;
}

.orangetext{
  color: orange;
}

.redtext{
  color: red;
}

.ui-body-b-adjust  {
  padding-left: 0px; 
  padding-right: 0px; 
}

.listview-adjust {
  padding: 0px;
}

.overflowtext {
    overflow: auto;
    max-height: 64px;
    font-size:13px;
}

.livealarmtext{
  font-size: x-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom:gray solid 1px;
  max-height: 14px;
}

/* 메인 */
#main {
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  width: 500px;
  height: 800px;
}
/*광고 영역*/
#advertise {
    margin: auto;
  margin-top: 100px;
  width: 100%;
    text-align: center;
}
.imgpf {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

/* 알림 */
.announcement {
  width: 90%;
  margin: auto;
  color: #5DC19B;
  text-align: center;
  margin-top: 10px;
  clear: both;
}

/* 알림 */
.loading {
  width: 90%;
  margin: auto;
  color: #5DC19B;
  text-align: center;
  margin-top: 10px;
}

.waitloading {
  width: 90%;
  margin: auto;
  color: #5DC19B;
  text-align: center;
  margin-top: 10px;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

#myvideo {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profbtn {
  margin: 2px;
  font-size: 10px;
}

.profcontainer {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  border:gray solid 1px;
}

.pfimgbox {
  height: 80px;
  width: 100px;
  text-align: center; 
  padding: 5px;
}
.pfimgbox img{
  display: block;
  max-width: 100%; 
  height: 100%;
}

@keyframes ldio-zvwvri6s2h {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-zvwvri6s2h div {
  position: absolute;
  animation: ldio-zvwvri6s2h 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 7.1000000000000005px 0 0 #FB48C4;
  transform-origin: 40px 43.55px;
}
.loadingio-spinner-eclipse-cf08qpsdsxm {
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-zvwvri6s2h {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zvwvri6s2h div { box-sizing: content-box; }
/* generated by https://loading.io/ */
    