.ul_header{
	list-style:none;
	float:right;
	margin-right:40px;
}
a{
	text-decoration:none;
	color:black;
}
.li_header{
	float:left;
	border-right:1px solid #ccc;
	padding-right:10px;
	padding-left:10px;
}
.div_header{
	width:70%;
	margin:0 auto;
	position:sticky;
	right:0px;
}
.div1_nav{
	width:70%;
	margin:0 auto;
	font-size:15px;
	line-height:3.0;
	padding:0px;
	position:sticky;
	right:0px;
}
.ul_nav{
	list-style:none;

}
.li_nav{
	float:left;
	padding-right:60px;
	font-weight:bold;
	color:#40a7ff;
}
.img1_nav{
	width:250px;
	height:60px;
}
.div2_nav{
	width:70%;
	margin:0 auto;
	padding:0px;
	position:sticky;
	right:0px;
}
.img2_nav{
	height:40px;
	margin-top:5px;
}